body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
}

.center-title{
    text-align: center;
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: Georgia,  sans-serif ;
}

header {
    background-color: #295e8a;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    text-align: center;
    background-color: #c83721;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}
nav a:hover {
    text-decoration: underline;
    color: #f7dda5;
}
section {
    padding: 20px;
    margin: 30px;
}

.text-m{
    font-size: 20px;
    text-align: center;
}

.course {
    flex: 1;
    padding: 25px;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden; 
    height: 400px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.course:hover {
    transform: scale(1.05); 
}

.course-container {
    display: flex; 
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
    justify-content: center; 
    align-items: flex-start;
    height: 600px;
}

.whitebg {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 5px 10px; 
    border-radius: 5px;
    display: inline-block; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.course a, .course p, .course li, .course h3 {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.course h3 {
    font-size: 25px;
}

.course a:hover {
    transform: scale(1.05); 
}

/* Index cursos*/
.ing{
    border: 3px solid #295e8a;
    background-image: url('../figs/uk.png');
    background-position: center;
    color: #295e8a;

}

.ing a{
    transition: transform 0.3s;
    color: #295e8a;
    font-size: 20px;
}

.ing a:hover{
    background-color: #629dd1;
    color: #12293b;
}

.esp{
    border: 3px solid #bd8317;
    background-image: url('../figs/spain.png');
    background-position: center;
    color: #bd8317;
}

.esp a{
    transition: transform 0.3s;
    color: #bd8317;
    font-size: 20px;
}

.esp a:hover{
    background-color: #f0bc48;
    color:#49330a;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ingles */
.MatIng {
    background-image: url('../figs/ingM.png'); 
    background-size: cover; 
    background-position: center; 
    color: black;
}

.ExIng {
    background-image: url('../figs/ingE.png'); 
    background-size: cover; 
    background-position: center; 
    color: black;
}

/* Espanhol */ 
.MatEsp {
    background-image: url('../figs/espM.png'); 
    background-size: cover; 
    background-position: center; 
    color: black;
}

.ExEsp {
    background-image: url('../figs/espE.png'); 
    background-size: cover; 
    background-position: center; 
    color: black;
}

.MatIng a, .ExIng a, .MatEsp a, .ExEsp a{
    transition: transform 0.3s;
    color: black;
    font-size: 20px;
}

.MatIng a:hover,.ExIng a:hover,.MatEsp a:hover,.ExEsp a:hover {
    background-color: #f7dda5;
}

/* Login e Cadastro */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    box-sizing: border-box;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.login-form input[type="email"], [type="password"], [type="text"], [type="date"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#state {
    width: 250px; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 14px; 
    background-color: #f9f9f9; 
    cursor: pointer; 
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-button {
    display: block; 
    width: 300px; 
    margin: 20px auto;
    padding: 10px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}


.clear-button {
    display: block; 
    width: 200px; 
    margin: 20px auto;
    padding: 10px; 
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 17px; 
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #a04545;
}



.clear-all-button {
    display: block; 
    width: 100px; 
    margin: 20px auto;
    padding: 10px; 
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 13px; 
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
}

.clear-all-button {
    background-color: #a04545;
}

.delete-button{
    display: block; 
    width: 30px; 
    background-color: #ad5d5d;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 15px; 
    font-weight: bold;
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
}

.forgot-password a,
.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}

.forgot-password a:hover,
.signup-link a:hover {
    text-decoration: underline;
}

.signup-link {
    margin-top: 20px;
}

.levels {
    list-style: none; 
    padding: 0;
    margin: auto;
}

.levels li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.levels li i {
    color: #c83721;
    margin-right: 10px; 
}


.site-footer {
    background-color: #295e8a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-link {
    color: #9cc3e5;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #67aae4;
}

.footer-text {
    font-size: 14px;
    margin: 0;
    font-family: 'Courier New';
}

.mat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
.image-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
  }
  
.image-text img {
    width: 50%;
    height: auto;
    display: block;
  }
  
.text {
    width: 45%;
    padding: 20px;
  }
 
.questions-answers {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.answers-container {
    width: 45%;
    position: relative;
}

.answers {
    display: none;
    margin-top: 10px;
}

.toggle-answers {
    display: none;
}

.toggle-answers:checked + .toggle-button + .answers {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

.toggle-button {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.toggle-button:hover {
    background-color: #0056b3;
}

#UserList {
    list-style-type: none;
    padding-left: 0;
    }

.listUser{
    border-radius: 10px;
    border-style: double;
    padding: 10px; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.answers ul {
    list-style-type: none;
    padding-left: 0;
}

.answers li {
    margin-bottom: 10px;
}
  
  @media (max-width: 768px) {
    .image-text {
      flex-direction: column;
      text-align: center;
    }
  
    .image-text img {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .text {
      width: 90%;
    }
  }
  
  
  @media (max-width: 480px) {
    .text {
      padding: 10px;
    }
  }

@media (max-width: 768px) {
    .course {
        flex: 1 1 100%; 
        max-width: 100%; 
    }
    .course-container {
        height: auto; 
    }

    .login-container {
        height: auto;
        margin-top: 20px;
    }

    .login-form {
        width: 80%;
    }


  
}
